DO $$
BEGIN
    {% for depid in depids %}
    IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'base_mens_{{ depid }}' AND TABLE_SCHEMA = 'meteo') THEN
        CREATE UNLOGGED TABLE meteo.base_mens_{{ depid }} (
            NUM_POSTE VARCHAR,
            NOM_USUEL VARCHAR,
            LAT FLOAT,
            LON FLOAT,
            ALTI INT,
            AAAAMM VARCHAR,
            RR FLOAT NULL,
            QRR INT NULL,
            NBRR INT NULL,
            RR_ME FLOAT NULL,
            RRAB FLOAT NULL,
            QRRAB INT NULL,
            RRABDAT INT NULL,
            NBJRR1 INT NULL,
            NBJRR5 INT NULL,
            NBJRR10 INT NULL,
            NBJRR30 INT NULL,
            NBJRR50 INT NULL,
            NBJRR100 INT NULL,
            PMERM FLOAT NULL,
            QPMERM INT NULL,
            NBPMERM INT NULL,
            PMERMINAB FLOAT NULL,
            QPMERMINAB INT NULL,
            PMERMINABDAT INT NULL,
            TX FLOAT NULL,
            QTX INT NULL,
            NBTX INT NULL,
            TX_ME FLOAT NULL,
            TXAB FLOAT NULL,
            QTXAB INT NULL,
            TXDAT INT NULL,
            TXMIN FLOAT NULL,
            QTXMIN INT NULL,
            TXMINDAT INT NULL,
            NBJTX0 INT NULL,
            NBJTX25 INT NULL,
            NBJTX30 INT NULL,
            NBJTX35 INT NULL,
            NBJTXI20 INT NULL,
            NBJTXI27 INT NULL,
            NBJTXS32 INT NULL,
            TN FLOAT NULL,
            QTN INT NULL,
            NBTN INT NULL,
            TN_ME FLOAT NULL,
            TNAB FLOAT NULL,
            QTNAB INT NULL,
            TNDAT INT NULL,
            TNMAX FLOAT NULL,
            QTNMAX INT NULL,
            TNMAXDAT INT NULL,
            NBJTN5 INT NULL,
            NBJTN10 INT NULL,
            NBJTNI10 INT NULL,
            NBJTNI15 INT NULL,
            NBJTNI20 INT NULL,
            NBJTNS20 INT NULL,
            NBJTNS25 INT NULL,
            NBJGELEE INT NULL,
            TAMPLIM FLOAT NULL,
            QTAMPLIM INT NULL,
            TAMPLIAB FLOAT NULL,
            QTAMPLIAB INT NULL,
            TAMPLIABDAT INT NULL,
            NBTAMPLI INT NULL,
            TM FLOAT NULL,
            QTM INT NULL,
            NBTM INT NULL,
            TMM FLOAT NULL,
            QTMM INT NULL,
            NBTMM INT NULL,
            NBJTMS24 INT NULL,
            TMMIN FLOAT NULL,
            QTMMIN INT NULL,
            TMMINDAT INT NULL,
            TMMAX FLOAT NULL,
            QTMMAX INT NULL,
            TMMAXDAT INT NULL,
            UNAB INT NULL,
            QUNAB INT NULL,
            UNABDAT INT NULL,
            NBUN INT NULL,
            UXAB INT NULL,
            QUXAB INT NULL,
            UXABDAT INT NULL,
            NBUX INT NULL,
            UMM INT NULL,
            QUMM INT NULL,
            NBUM INT NULL,
            TSVM FLOAT NULL,
            QTSVM INT NULL,
            NBTSVM INT NULL,
            ETP FLOAT NULL,
            QETP INT NULL,
            FXIAB FLOAT NULL,
            QFXIAB INT NULL,
            DXIAB INT NULL,
            QDXIAB INT NULL,
            FXIDAT INT NULL,
            NBJFF10 INT NULL,
            NBJFF16 INT NULL,
            NBJFF28 INT NULL,
            NBFXI INT NULL,
            FXI3SAB FLOAT NULL,
            QFXI3SAB INT NULL,
            DXI3SAB FLOAT NULL,
            QDXI3SAB INT NULL,
            FXI3SDAT INT NULL,
            NBJFXI3S10 INT NULL,
            NBJFXI3S16 INT NULL,
            NBJFXI3S28 INT NULL,
            NBFXI3S INT NULL,
            FXYAB FLOAT NULL,
            QFXYAB INT NULL,
            DXYAB INT NULL,
            QDXYAB INT NULL,
            FXYABDAT INT NULL,
            NBJFXY8 INT NULL,
            NBJFXY10 INT NULL,
            NBJFXY15 INT NULL,
            NBFXY INT NULL,
            FFM FLOAT NULL,
            QFFM INT NULL,
            NBFFM INT NULL,
            INST INT NULL,
            QINST INT NULL,
            NBINST INT NULL,
            NBSIGMA0 INT NULL,
            NBSIGMA20 INT NULL,
            NBSIGMA80 INT NULL,
            GLOT INT NULL,
            QGLOT INT NULL,
            NBGLOT INT NULL,
            DIFT FLOAT NULL,
            QDIFT INT NULL,
            NBDIFT INT NULL,
            DIRT FLOAT NULL,
            QDIRT INT NULL,
            NBDIRT INT NULL,
            HNEIGEFTOT INT NULL,
            QHNEIGEFTOT INT NULL,
            HNEIGEFAB INT NULL,
            QHNEIGEFAB INT NULL,
            HNEIGEFDAT INT NULL,
            NBHNEIGEF INT NULL,
            NBJNEIG INT NULL,
            NBJHNEIGEF1 INT NULL,
            NBJHNEIGEF5 INT NULL,
            NBJHNEIGEF10 INT NULL,
            NBJSOLNG INT NULL,
            NEIGETOTM INT NULL,
            QNEIGETOTM INT NULL,
            NEIGETOTAB INT NULL,
            QNEIGETOTAB INT NULL,
            NEIGETOTABDAT INT NULL,
            NBJNEIGETOT1 INT NULL,
            NBJNEIGETOT10 INT NULL,
            NBJNEIGETOT30 INT NULL,
            NBJGREL INT NULL,
            NBJORAG INT NULL,
            NBJBROU INT NULL,
            DEP VARCHAR
        );
    END IF;


    IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'base_quot_vent_{{ depid }}' AND TABLE_SCHEMA = 'meteo') THEN
        CREATE UNLOGGED TABLE meteo.base_quot_vent_{{ depid }} (
            NUM_POSTE VARCHAR,
            NOM_USUEL VARCHAR,
            LAT FLOAT,
            LON FLOAT,
            ALTI INT,
            AAAAMMJJ VARCHAR,
            RR FLOAT NULL,
            QRR INT NULL,
            TN FLOAT NULL,
            QTN INT NULL,
            HTN INT NULL,
            QHTN INT NULL,
            TX FLOAT NULL,
            QTX INT NULL,
            HTX INT NULL,
            QHTX INT NULL,
            TM FLOAT NULL,
            QTM INT NULL,
            TNTXM FLOAT NULL,
            QTNTXM INT NULL,
            TAMPLI FLOAT NULL,
            QTAMPLI INT NULL,
            TNSOL FLOAT NULL,
            QTNSOL INT NULL,
            TN50 FLOAT NULL,
            QTN50 INT NULL,
            DG INT NULL,
            QDG INT NULL,
            FFM FLOAT NULL,
            QFFM INT NULL,
            FF2M FLOAT NULL,
            QFF2M INT NULL,
            FXY FLOAT NULL,
            QFXY INT NULL,
            DXY INT NULL,
            QDXY INT NULL,
            HXY INT NULL,
            QHXY INT NULL,
            FXI FLOAT NULL,
            QFXI INT NULL,
            DXI INT NULL,
            QDXI INT NULL,
            HXI INT NULL,
            QHXI INT NULL,
            FXI2 FLOAT NULL,
            QFXI2 INT NULL,
            DXI2 INT NULL,
            QDXI2 INT NULL,
            HXI2 INT NULL,
            QHXI2 INT NULL,
            FXI3S FLOAT NULL,
            QFXI3S INT NULL,
            DXI3S FLOAT NULL,
            QDXI3S INT NULL,
            HXI3S INT NULL,
            QHXI3S INT NULL,
            DRR INT NULL,
            QDRR INT NULL,
            DEP VARCHAR
        );
    END IF;

    IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'base_quot_autres_{{ depid }}' AND TABLE_SCHEMA = 'meteo') THEN
        CREATE UNLOGGED TABLE meteo.base_quot_autres_{{ depid }} (
            NUM_POSTE VARCHAR,
            NOM_USUEL VARCHAR,
            LAT FLOAT,
            LON FLOAT,
            ALTI INT,
            AAAAMMJJ VARCHAR,
            DHUMEC INT NULL,
            QDHUMEC INT NULL,
            PMERM FLOAT NULL,
            QPMERM INT NULL,
            PMERMIN FLOAT NULL,
            QPMERMIN INT NULL,
            INST INT NULL,
            QINST INT NULL,
            GLOT INT NULL,
            QGLOT INT NULL,
            DIFT FLOAT NULL,
            QDIFT INT NULL,
            DIRT FLOAT NULL,
            QDIRT INT NULL,
            INFRART FLOAT NULL,
            QINFRART INT NULL,
            UV FLOAT NULL,
            QUV INT NULL,
            UV_INDICEX FLOAT NULL,
            QUV_INDICEX INT NULL,
            SIGMA INT NULL,
            QSIGMA INT NULL,
            UN INT NULL,
            QUN INT NULL,
            HUN INT NULL,
            QHUN INT NULL,
            UX INT NULL,
            QUX INT NULL,
            HUX INT NULL,
            QHUX INT NULL,
            UM INT NULL,
            QUM INT NULL,
            DHUMI40 INT NULL,
            QDHUMI40 INT NULL,
            DHUMI80 INT NULL,
            QDHUMI80 INT NULL,
            TSVM FLOAT NULL,
            QTSVM INT NULL,
            ETPMON FLOAT NULL,
            QETPMON INT NULL,
            ETPGRILLE FLOAT NULL,
            QETPGRILLE INT NULL,
            ECOULEMENTM FLOAT NULL,
            QECOULEMENTM INT NULL,
            HNEIGEF INT NULL,
            QHNEIGEF INT NULL,
            NEIGETOTX INT NULL,
            QNEIGETOTX INT NULL,
            NEIGETOT06 INT NULL,
            QNEIGETOT06 INT NULL,
            NEIG INT NULL,
            QNEIG INT NULL,
            BROU INT NULL,
            QBROU INT NULL,
            ORAG INT NULL,
            QORAG INT NULL,
            GRESIL INT NULL,
            QGRESIL INT NULL,
            GRELE INT NULL,
            QGRELE INT NULL,
            ROSEE INT NULL,
            QROSEE INT NULL,
            VERGLAS INT NULL,
            QVERGLAS INT NULL,
            SOLNEIGE INT NULL,
            QSOLNEIGE INT NULL,
            GELEE INT NULL,
            QGELEE INT NULL,
            FUMEE INT NULL,
            QFUMEE INT NULL,
            BRUME INT NULL,
            QBRUME INT NULL,
            ECLAIR INT NULL,
            QECLAIR INT NULL,
            NB300 INT NULL,
            QNB300 INT NULL,
            BA300 INT NULL,
            QBA300 INT NULL,
            TMERMIN FLOAT NULL,
            QTMERMIN INT NULL,
            TMERMAX FLOAT NULL,
            QTMERMAX INT NULL,
            DEP VARCHAR
        );
    END IF;

    IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'base_decad_{{ depid }}' AND TABLE_SCHEMA = 'meteo') THEN
        CREATE UNLOGGED TABLE meteo.base_decad_{{ depid }} (
            NUM_POSTE VARCHAR,
            NOM_USUEL VARCHAR,
            LAT FLOAT,
            LON FLOAT,
            ALTI INT,
            AAAAMM VARCHAR,
            NUM_DECADE INT NULL,
            RR FLOAT NULL,
            QRR INT NULL,
            NBRR INT NULL,
            RRAB FLOAT NULL,
            QRRAB INT NULL,
            RRABDAT INT NULL,
            NBJRR1 INT NULL,
            NBJRR5 INT NULL,
            NBJRR10 INT NULL,
            NBJRR30 INT NULL,
            NBJRR50 INT NULL,
            NBJRR100 INT NULL,
            PMERM FLOAT NULL,
            QPMERM INT NULL,
            NBPMERM INT NULL,
            PMERMINAB FLOAT NULL,
            QPMERMINAB INT NULL,
            PMERMINABDAT INT NULL,
            TX FLOAT NULL,
            QTX INT NULL,
            NBTX INT NULL,
            TXAB FLOAT NULL,
            QTXAB INT NULL,
            TXDAT INT NULL,
            TXMIN FLOAT NULL,
            QTXMIN INT NULL,
            TXMINDAT INT NULL,
            NBJTX0 INT NULL,
            NBJTX25 INT NULL,
            NBJTX30 INT NULL,
            NBJTX35 INT NULL,
            NBJTXI20 INT NULL,
            NBJTXI27 INT NULL,
            NBJTXS32 INT NULL,
            TN FLOAT NULL,
            QTN INT NULL,
            NBTN INT NULL,
            TNAB FLOAT NULL,
            QTNAB INT NULL,
            TNDAT INT NULL,
            TNMAX FLOAT NULL,
            QTNMAX INT NULL,
            TNMAXDAT INT NULL,
            NBJTN5 INT NULL,
            NBJTN10 INT NULL,
            NBJTNI10 INT NULL,
            NBJTNI15 INT NULL,
            NBJTNI20 INT NULL,
            NBJTNS20 INT NULL,
            NBJTNS25 INT NULL,
            NBJGELEE INT NULL,
            TAMPLIM FLOAT NULL,
            QTAMPLIM INT NULL,
            TAMPLIAB FLOAT NULL,
            QTAMPLIAB INT NULL,
            TAMPLIABDAT INT NULL,
            NBTAMPLI INT NULL,
            TM FLOAT NULL,
            QTM INT NULL,
            NBTM INT NULL,
            TMM FLOAT NULL,
            QTMM INT NULL,
            NBTMM INT NULL,
            NBJTMS24 INT NULL,
            TMMIN FLOAT NULL,
            QTMMIN INT NULL,
            TMMINDAT INT NULL,
            TMMAX FLOAT NULL,
            QTMMAX INT NULL,
            TMMAXDAT INT NULL,
            UNAB INT NULL,
            QUNAB INT NULL,
            UNABDAT INT NULL,
            NBUN INT NULL,
            UXAB INT NULL,
            QUXAB INT NULL,
            UXABDAT INT NULL,
            NBUX INT NULL,
            UMM INT NULL,
            QUMM INT NULL,
            NBUM INT NULL,
            TSVM FLOAT NULL,
            QTSVM INT NULL,
            NBTSVM INT NULL,
            FXIAB FLOAT NULL,
            QFXIAB INT NULL,
            DXIAB INT NULL,
            QDXIAB INT NULL,
            FXIDAT INT NULL,
            NBJFF10 INT NULL,
            NBJFF16 INT NULL,
            NBJFF28 INT NULL,
            NBFXI INT NULL,
            FXI3SAB FLOAT NULL,
            QFXI3SAB INT NULL,
            DXI3SAB FLOAT NULL,
            QDXI3SAB INT NULL,
            FXI3SDAT INT NULL,
            NBJFXI3S10 INT NULL,
            NBJFXI3S16 INT NULL,
            NBJFXI3S28 INT NULL,
            NBFXI3S INT NULL,
            FXYAB FLOAT NULL,
            QFXYAB INT NULL,
            DXYAB INT NULL,
            QDXYAB INT NULL,
            FXYABDAT INT NULL,
            NBJFXY8 INT NULL,
            NBJFXY10 INT NULL,
            NBJFXY15 INT NULL,
            NBFXY INT NULL,
            FFM FLOAT NULL,
            QFFM INT NULL,
            NBFFM INT NULL,
            INST INT NULL,
            QINST INT NULL,
            NBINST INT NULL,
            NBSIGMA0 INT NULL,
            NBSIGMA20 INT NULL,
            NBSIGMA80 INT NULL,
            GLOT INT NULL,
            QGLOT INT NULL,
            NBGLOT INT NULL,
            DIFT FLOAT NULL,
            QDIFT INT NULL,
            NBDIFT INT NULL,
            DIRT FLOAT NULL,
            QDIRT INT NULL,
            NBDIRT INT NULL,
            HNEIGEFTOT INT NULL,
            QHNEIGEFTOT INT NULL,
            HNEIGEFAB INT NULL,
            QHNEIGEFAB INT NULL,
            HNEIGEFDAT INT NULL,
            NBHNEIGEF INT NULL,
            NBJNEIG INT NULL,
            NBJHNEIGEF1 INT NULL,
            NBJHNEIGEF5 INT NULL,
            NBJHNEIGEF10 INT NULL,
            NBJSOLNG INT NULL,
            NEIGETOTM INT NULL,
            QNEIGETOTM INT NULL,
            NEIGETOTAB INT NULL,
            QNEIGETOTAB INT NULL,
            NEIGETOTABDAT INT NULL,
            NBJNEIGETOT1 INT NULL,
            NBJNEIGETOT10 INT NULL,
            NBJNEIGETOT30 INT NULL,
            NBGREL INT NULL,
            NBJORAG INT NULL,
            NBJBROU INT NULL,
            DEP VARCHAR
        );
    END IF;

    IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'base_hor_{{ depid }}' AND TABLE_SCHEMA = 'meteo') THEN
        CREATE UNLOGGED TABLE meteo.base_hor_{{ depid }} (
            NUM_POSTE VARCHAR,
            NOM_USUEL VARCHAR,
            LAT FLOAT,
            LON FLOAT,
            ALTI INT,
            AAAAMMJJHH VARCHAR,
            RR1 FLOAT NULL,
            QRR1 INT NULL,
            DRR1 INT NULL,
            QDRR1 INT NULL,
            FF FLOAT NULL,
            QFF INT NULL,
            DD INT NULL,
            QDD INT NULL,
            FXY FLOAT NULL,
            QFXY INT NULL,
            DXY INT NULL,
            QDXY INT NULL,
            HXY INT NULL,
            QHXY INT NULL,
            FXI FLOAT NULL,
            QFXI INT NULL,
            DXI INT NULL,
            QDXI INT NULL,
            HXI INT NULL,
            QHXI INT NULL,
            FF2 FLOAT NULL,
            QFF2 INT NULL,
            DD2 INT NULL,
            QDD2 INT NULL,
            FXI2 FLOAT NULL,
            QFXI2 INT NULL,
            DXI2 INT NULL,
            QDXI2 INT NULL,
            HXI2 INT NULL,
            QHXI2 INT NULL,
            FXI3S FLOAT NULL,
            QFXI3S INT NULL,
            DXI3S FLOAT NULL,
            QDXI3S INT NULL,
            HFXI3S INT NULL,
            QHFXI3S INT NULL,
            T FLOAT NULL,
            QT INT NULL,
            TD FLOAT NULL,
            QTD INT NULL,
            TN FLOAT NULL,
            QTN INT NULL,
            HTN INT NULL,
            QHTN INT NULL,
            TX FLOAT NULL,
            QTX INT NULL,
            HTX INT NULL,
            QHTX INT NULL,
            DG INT NULL,
            QDG INT NULL,
            T10 FLOAT NULL,
            QT10 INT NULL,
            T20 FLOAT NULL,
            QT20 INT NULL,
            T50 FLOAT NULL,
            QT50 INT NULL,
            T100 FLOAT NULL,
            QT100 INT NULL,
            TNSOL FLOAT NULL,
            QTNSOL INT NULL,
            TN50 FLOAT NULL,
            QTN50 INT NULL,
            TCHAUSSEE FLOAT NULL,
            QTCHAUSSEE INT NULL,
            DHUMEC FLOAT NULL,
            QDHUMEC INT NULL,
            U INT NULL,
            QU INT NULL,
            UN INT NULL,
            QUN INT NULL,
            HUN INT NULL,
            QHUN INT NULL,
            UX INT NULL,
            QUX INT NULL,
            HUX INT NULL,
            QHUX INT NULL,
            DHUMI40 INT NULL,
            QDHUMI40 INT NULL,
            DHUMI80 INT NULL,
            QDHUMI80 INT NULL,
            TSV FLOAT NULL,
            QTSV INT NULL,
            PMER FLOAT NULL,
            QPMER INT NULL,
            PSTAT FLOAT NULL,
            QPSTAT INT NULL,
            PMERMIN FLOAT NULL,
            QPERMIN INT NULL,
            GEOP FLOAT NULL,
            QGEOP INT NULL,
            N INT NULL,
            QN INT NULL,
            NBAS INT NULL,
            QNBAS INT NULL,
            CL INT NULL,
            QCL INT NULL,
            CM INT NULL,
            QCM INT NULL,
            CH INT NULL,
            QCH INT NULL,
            N1 INT NULL,
            QN1 INT NULL,
            C1 INT NULL,
            QC1 INT NULL,
            B1 INT NULL,
            QB1 INT NULL,
            N2 INT NULL,
            QN2 INT NULL,
            C2 INT NULL,
            QC2 INT NULL,
            B2 INT NULL,
            QCB2 INT NULL,
            N3 INT NULL,
            QN3 INT NULL,
            C3 INT NULL,
            QC3 INT NULL,
            B3 INT NULL,
            QB3 INT NULL,
            N4 INT NULL,
            QN4 INT NULL,
            C4 INT NULL,
            QC4 INT NULL,
            B4 INT NULL,
            QB4 INT NULL,
            VV INT NULL,
            QVV INT NULL,
            DVV200 INT NULL,
            QDVV200 INT NULL,
            WW INT NULL,
            QWW INT NULL,
            W1 INT NULL,
            QW1 INT NULL,
            W2 INT NULL,
            QW2 INT NULL,
            SOL INT NULL,
            QSOL INT NULL,
            SOLNG INT NULL,
            QSOLNG INT NULL,
            TMER FLOAT NULL,
            QTMER INT NULL,
            VVMER FLOAT NULL,
            QVVMER INT NULL,
            ETATMER FLOAT NULL,
            QETATMER INT NULL,
            DIRHOULE FLOAT NULL,
            QDIRHOULE INT NULL,
            HVAGUE FLOAT NULL,
            QHVAGUE INT NULL,
            PVAGUE FLOAT NULL,
            QPVAGUE INT NULL,
            HNEIGEF INT NULL,
            QHNEIGEF INT NULL,
            NEIGETOT INT NULL,
            QNEIGETOT INT NULL,
            TSNEIGE FLOAT NULL,
            QTSNEIGE INT NULL,
            TUBENEIGE FLOAT NULL,
            QTUBENEIGE INT NULL,
            HNEIGEFI3 INT NULL,
            QHNEIGEFI3 INT NULL,
            HNEIGEFI1 INT NULL,
            QHNEIGEFI1 INT NULL,
            ESNEIGE FLOAT NULL,
            QESNEIGE INT NULL,
            CHARGENEIGE FLOAT NULL,
            QCHARGENEIGE INT NULL,
            GLO INT NULL,
            QGLO INT NULL,
            GLO2 INT NULL,
            QGLO2 INT NULL,
            DIR FLOAT NULL,
            QDIR INT NULL,
            DIR2 FLOAT NULL,
            QDIR2 INT NULL,
            DIF FLOAT NULL,
            QDIF INT NULL,
            DIF2 FLOAT NULL,
            QDIF2 INT NULL,
            UV FLOAT NULL,
            QUV INT NULL,
            UV2 FLOAT NULL,
            QUV2 INT NULL,
            UV_INDICE FLOAT NULL,
            QUV_INDICE INT NULL,
            INFRAR FLOAT NULL,
            QINFRAR INT NULL,
            INFRAR2 FLOAT NULL,
            QINFRAR2 INT NULL,
            INS INT NULL,
            QINS INT NULL,
            INS2 INT NULL,
            QINS2 INT NULL,
            TLAGON FLOAT NULL,
            QTLAGON INT NULL,
            TVEGETAUX FLOAT NULL,
            QTVEGETAUX INT NULL,
            ECOULEMENT FLOAT NULL,
            QECOULEMENT INT NULL,
            DEP VARCHAR
        );
    END IF;

    IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'base_min_{{ depid }}' AND TABLE_SCHEMA = 'meteo') THEN
        CREATE UNLOGGED TABLE meteo.base_min_{{ depid }} (
            NUM_POSTE VARCHAR,
            NOM_USUEL VARCHAR,
            LAT FLOAT,
            LON FLOAT,
            ALTI INT,
            AAAAMMJJHHMN VARCHAR,
            RR FLOAT NULL,
            QRR INT NULL,
            DEP VARCHAR
        );
    END IF;

    IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'base_decadagro_{{ depid }}' AND TABLE_SCHEMA = 'meteo') THEN
        CREATE UNLOGGED TABLE meteo.base_decadagro_{{ depid }} (
            NUM_POSTE VARCHAR,
            NOM_USUEL VARCHAR,
            LAT FLOAT,
            LON FLOAT,
            ALTI INT,
            AAAAMM VARCHAR,
            NUM_DECADE INT NULL,
            RR FLOAT NULL,
            CRR INT NULL,
            TN FLOAT NULL,
            CTN INT NULL,
            TX FLOAT NULL,
            CTX INT NULL,
            FFM FLOAT NULL,
            CFFM INT NULL,
            TSVM FLOAT NULL,
            CTSVM INT NULL,
            INST INT NULL,
            CINST INT NULL,
            GLOT INT NULL,
            CGLOT INT NULL,
            ETP FLOAT NULL,
            DEP VARCHAR
        );
    END IF;
    {% endfor %}

    IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'dag_processed' AND TABLE_SCHEMA = 'meteo') THEN
        CREATE UNLOGGED TABLE meteo.dag_processed (
            processed VARCHAR(255)
        );
    END IF;
END $$;

{% for depid in depids %}
-- Create indexes on DEP, NUM_POSTE, NOM_USUEL, and AAAAMM
CREATE INDEX IF NOT EXISTS idx_base_mens_{{ depid }}_query ON meteo.base_mens_{{ depid }} (num_poste, substring(AAAAMM, 1, 4));

-- Create indexes on DEP, NUM_POSTE, NOM_USUEL, and AAAAMMJJ
CREATE INDEX IF NOT EXISTS idx_base_quot_vent_{{ depid }}_query ON meteo.base_quot_vent_{{ depid }} (num_poste, substring(AAAAMMJJ, 1, 4));

-- Create indexes on DEP, NUM_POSTE, NOM_USUEL, and AAAAMMJJ
CREATE INDEX IF NOT EXISTS idx_base_quot_autres_{{ depid }}_query ON meteo.base_quot_autres_{{ depid }} (num_poste, substring(AAAAMMJJ, 1, 4));

-- Create indexes on DEP, NUM_POSTE, NOM_USUEL, and AAAAMM
CREATE INDEX IF NOT EXISTS idx_base_decad_{{ depid }}_query ON meteo.base_decad_{{ depid }} (num_poste, substring(AAAAMM, 1, 4));

-- Create indexes on DEP, NUM_POSTE, NOM_USUEL, and AAAAMMJJHH
CREATE INDEX IF NOT EXISTS idx_base_hor_{{ depid }}_query ON meteo.base_hor_{{ depid }} (num_poste, substring(AAAAMMJJHH, 1, 4));

-- Create indexes on DEP, NUM_POSTE, NOM_USUEL, and AAAAMMJJHHMN
CREATE INDEX IF NOT EXISTS idx_base_min_{{ depid }}_query ON meteo.base_min_{{ depid }} (num_poste, substring(AAAAMMJJHHMN, 1, 4));

-- Create indexes on DEP, NUM_POSTE, NOM_USUEL, and AAAAMM
CREATE INDEX IF NOT EXISTS idx_base_decadagro_{{ depid }}_query ON meteo.base_decadagro_{{ depid }} (num_poste, substring(AAAAMM, 1, 4));
{% endfor %}